/******************/
/*    #Static     */
/******************/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
::-webkit-input-placeholder {color:darkgrey;}
::-moz-placeholder          {color:darkgrey;}/* Firefox 19+ */
:-moz-placeholder           {color:darkgrey;}/* Firefox 18- */
:-ms-input-placeholder      {color:darkgrey;}

html, body {
    background-color: green;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-color: lightgray;
    border: none;
}
body {
    height: 400px;
    width: 300px;
    background-color: black;
}
footer {
    margin: 0;
    background-color: black;
    color: black;
    overflow: hidden;
    padding: 0.5em;
    font-size: 0.4em;
}

input,
button {
    vertical-align: middle;
    display: inline-block;
    height: calc(12% - 3px);
    border: solid 1px black;
    border-radius: 4px;
    padding: 3px;
    margin: 2px;
    margin-bottom: 0;
    font-size: 1em;
    text-align: center;
    cursor: default;
}
input {
    font-size: 2.5em;
}
button.start_stop {
    width: calc(50% - 3px);
}
button#up,
input#time,
button#deadline_start {
    margin-right: 0;
}

input#time,
button#deadline_start {
    width: calc(70% - 3px);
}
button#screen2,
button#reset {
    width: calc(30% - 3px);
}
button:hover {
    cursor: pointer;
}
input:hover {
    cursor: text;
}
input#time,
button#screen2 {
    height: calc(18% - 4px);
}
textarea {
    display: block;
    width: calc(100% - 4px);
    height: 15%;
    border: solid 1px black;
    border-radius: 4px;
    padding: 3px;
    margin: 2px;
    font-size: 1.2em;
    overflow: hidden;
    resize: none;
    clear: both;
}
div {
	width: calc(100% - 4px);
    background-color: black;
    border: solid 1px black;
    border-radius: 0;
    margin: 0;
    text-align: center;
    clear: both;
}
#time_left {
    height: 25%;
    width: 100%;
    line-height: 1.1;
    font-size: 4em;
    color: greenyellow;
    padding: 20px;
}
#message_show {
    height: 15%;
	width: 100%;
    line-height: 1.35;
    font-size: 1.3em;
    color: yellow;
    padding: 3px;
}

/******************/
/*    #Dynamic    */
/******************/

button.start_stop::after {
    content: "пуск";
}
.count-up #up::after,
.count-down #down::after {
    content: "пауза";
}
.count-up-paused #up::after,
.count-down-paused #down::after {
    content: "продолжить";
}
[class*=up] #up,
[class*=down] #down,
[class*=deadline] #deadline_start {
    background-color: springgreen;
}
button#screen2::after {
    content: "создать";
}
.prompter-on button#screen2::after {
    content: "закрыть";
}
.prompter-off #message_show::before {
    content: "Нет окна суфлера";
}
[class*=over] #time {
    background-color: red;
}
