/******************/
/*    #Static     */
/******************/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
button::-moz-focus-inner{
    padding: 0 0 2px 0;
    border: 0
}
::-webkit-input-placeholder {color:#bbb;}
::-moz-placeholder          {color:#888;}/* Firefox 19+ */
:-moz-placeholder           {color:#bbb;}/* Firefox 18- */

html, body {
    background-color: #bbb;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-color: lightgray;
    border: none;
}
body {
    height: 470px;
    width: 300px;
    background-color: black;
}
footer {
    margin: 0;
    background-color: black;
    color: black;
    overflow: hidden;
    padding: 0.2em;
    font-size: 0.8em;
    color: #00c;
}

input,
button {
    vertical-align: middle;
    display: inline-block;
    height: calc(9.6% - 3px);
    border: solid 1px black;
    border-radius: 4px;
    padding: 3px;
    margin: 2px;
    margin-bottom: 0;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    cursor: default;
}
input {
    font-size: 2.5em;
    line-height: 1.5em;
}
button.start_stop {
    width: calc(50% - 3px);
}
button#up,
input#time,
button#deadline {
    margin-right: 0;
}

input#time,
button#deadline {
    width: calc(70% - 3px);
}
button#screen2,
button#reset {
    width: calc(30% - 3px);
}
button:hover {
    cursor: pointer;
}
input:hover {
    cursor: text;
}
input#time,
button#screen2 {
    height: calc(14.4% - 4px);
}
textarea {
    display: block;
    width: calc(100% - 4px);
    height: 9%;
    border: solid 1px black;
    border-radius: 4px;
    padding: 3px;
    margin: 2px;
    font-size: 1.2em;
    overflow: hidden;
    resize: none;
    clear: both;
}
div {
	width: calc(100% - 4px);
    background-color: black;
    border: solid 1px black;
    border-radius: 0;
    margin: 0;
    text-align: center;
    clear: both;
}
#time_left {
    height: 20%;
    width: 100%;
    line-height: 1.1;
    font-size: 4em;
    color: greenyellow;
    padding: 20px;
}
#message_show {
    height: 12%;
	width: 100%;
    line-height: 1.35;
    font-size: 1.3em;
    color: yellow;
    padding: 3px;
}
#container {
    width: 300px;
    height: 100px;
    padding: 5px;
    text-align: center;
  background: #126298; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,#126298,#0fb2db,#126298);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,#126298,#0fb2db,#126298);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,#126298,#0fb2db,#126298);
  /* Standard syntax */
  background: linear-gradient(to right, #126298,#0fb2db,#126298);  
}
#banner {
    width: 100%;
    height: 100%;
    border-width: 0;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    text-align: left;
    padding: 6px;
    vertical-align: middle; 
}
#banner h1 {
    font-size: 20px;
    padding: 3px 3px 8px 3px;
    font-weight: bold;
}
#banner p {
    font-size: 12px;
    padding: 2px 3px;
    text-align: justify;
}
#banner a,
#banner a:link,
#banner a:visited,
#banner a:hover,
#banner a:active {
    text-decoration: none;
    color: #000;
}

/******************/
/*    #Dynamic    */
/******************/

.no-timer .start_stop::after {
    content: attr(stopped);
}
.up #up::after,
.down #down::after {
    content: attr(running);
}
.up-paused #up::after,
.down-paused #down::after {
    content: attr(paused);
}
[class*=up] #up,
[class*=down] #down,
[class*=ddln] #deadline {
    background-color: springgreen;
}
.prompter-off #screen2::after {
    content: attr(prompter-off);
}
.prompter-on #screen2::after {
    content: attr(prompter-on);
}
.prompter-off #message_show::before {
    content: attr(prompter-off);
}
.over #time {
    background-color: red;
}
